.card {
  width: 314px;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__image-container {
  overflow: hidden;
  width: 100%;
  height: 176px;
}

.card__image {
  width: 100%;
  height: 100%;
  transition: transform 0.2s linear;
}

.card__image:hover {
  transform: scale(1.4);
}

.card__text-container {
  width: 82%;
  margin: 17px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__category {
  margin: 0;
  padding: 0 7px;
  max-width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card__title {
  margin: 10px 0 0;
  max-width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #25262b;
  max-height: 48px;
  overflow: hidden;
}

.card__subtitle {
  max-width: 100%;
  max-height: 66px;
  margin: 10px 0 0;
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #25262b;
  overflow: hidden;
}

.card__author {
  max-width: 100%;
  margin: 10px 0 0;
  color: #777777;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.settings {
  margin-top: 50px;
  background-color: rgba(218, 223, 225);
  width: 400px;
  height: 140px;
}

.settings__inputs-container {
  width: 90%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.settings__input-title {
  margin: 0;
}

.settings__input-title:last-of-type {
  margin-top: 10px;
}
